.git
.github
.cursor
.docs
_docs
.husky
.vscode
**/node_modules
**/dist
**/coverage
**/.turbo
**/*.md
!packages/README.md
.env
.env.*
!.env.example
**/.DS_Store
**/Thumbs.db
apps/api/src/generated
cabin.code-workspace
*.log
